body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#black {
  height: 100vh;
  width: 100vw;
  background-color: #D8BFD8;
}

#dvd {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  width: 100px;
  mask: url("dvd-logo.png");
  -webkit-mask: url("dvd-logo.png");
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}
